[Desktop Entry]
Name=Update System
Comment=Actualiza el sistema Arch completo
Exec=foot -e fish -c update
Icon=system-software-update
Terminal=false
Type=Application
Categories=System;
